<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <th:block-->
<!--            th:test="${user.name != null ? 'Add':'Edit'}">-->
<!--    </th:block>-->
        <title>Add</title>
<!--    <th:if test="${!empty user.name}">-->
<!--        <title>Edit</title>-->
<!--    </th:if>-->
</head>

<body>
<!--    <th:url value="/admin/add" var="var"/>-->

<!--<th:if test="${!empty user.name}">-->
<!--    <th:url value="/admin/edit" var="var"/>-->
<!--</th:if>-->

<!--<form action="${var}" method="POST">-->
<form action="#" th:action="@{/admin/add}" th:object="${user}" method="post">

<!--    <input type="hidden" name="id" value="${user.id}">-->
<!--    <label for="name">Name</label>-->
<!--    <input type="text" th:field="*{name}" id="name" placeholder="Name">-->

    <label for="year">Year</label>
    <input type="text" name="year" id="year">
    <label for="address">Address</label>
    <input type="text" name="address" id="address">

    <input type="submit" value="Add new user">

<!--    <th:if test="${!empty user.name}">-->
<!--        <input type="submit" value="Edit user">-->
<!--    </th:if>-->
</form>

</body>
</html>