<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Edit</title>-->
<!--</head>-->
<!--<body>-->
<!--<form  th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}" method="PATCH">-->


<!--&lt;!&ndash;        <input type="hidden" name="id" value="${user.id}">&ndash;&gt;-->

<!--&lt;!&ndash;    <label for="name">Enter name:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" th:field="*{name}" id="name"/>&ndash;&gt;-->

<!--&lt;!&ndash;    <br/>&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="year">Enter age:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" th:field="*{year}" id="year"/>&ndash;&gt;-->

<!--&lt;!&ndash;    <br/>&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="address">Enter address:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text"  th:field="*{address}" id="address"/>&ndash;&gt;-->

<!--    <table border="1" width="16%">-->
<!--        <tr>-->
<!--            <th>Parameter</th>-->
<!--            <th>Field</th>-->
<!--        </tr>-->
<!--        <th:block>-->


<!--            <tr>-->
<!--                <td><label for="username">Username</label></td>-->
<!--                <td><input type="text" name="username" id="username"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label for="password">Password</label></td>-->
<!--                <td><input type="text" name="password"  id="password"></td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;        <th>roles</th>&ndash;&gt;-->
<!--            <tr>-->
<!--                <td><label for="name">Name</label></td>-->
<!--                <td><input type="text" name="name"  th:field="*{name}" id="name"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label for="year">Year</label></td>-->
<!--                <td><input type="text" name="year" th:field="*{year}" id="year"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label for="address">Address</label></td>-->
<!--                <td><input type="text" name="address" th:field="*{address}" id="address"></td>-->
<!--            </tr>-->
<!--        </th:block>-->
<!--    </table>-->
<!--    <br>-->
<!--    <input type="submit" value="Edit user">-->

<!--</form>-->
<!--</body>-->
<!--</html>-->